{{# each products}}
<div class="row">
  {{# each this}}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{this.imagepath}}" 
      alt="..." class="img-resposive"> 
      <div class="caption">
        <h3>{{this.title}}</h3>
        <p class="description">{{this.description}}</p>
        <div class="clearfix">
          <div class="price float-right" > ${{this.price}}</div>
          <a href="/add-to-cart/{{this._id}}" class="btn btn-success float-left" role="button">Add to Shopping cart</a> 
          </div>
      </div>
    </div>
  </div>
  {{/each}}
  </div>
  {{/each}}

